
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  text-align: center;
}

.weatherLocationCont {
  padding: 25px;
  -webkit-box-shadow: 10px 10px 17px -6px rgba(173,173,173,1);
  -moz-box-shadow: 10px 10px 17px -6px rgba(173,173,173,1);
  box-shadow: 10px 10px 17px -6px rgba(173,173,173,1);
  width: calc(100%-20px);
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.locationCont h1 {
  text-align: left;
  color: #666;
  margin: 0;
  white-space: nowrap;
}

.weatherDataCont {
  background-color: rgba(200,200,200);
  border-radius: 5px;
  margin: auto;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 5px;
}

.weatherExtraInfoCont {
  width: 40%;
  display: inline-block;
  text-align: left;
}

.weatherTemperatureCont {
  width: 60%;
  display: inline-block;
  margin-bottom: 12px; 
}

.temperature {
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  color: #333;
}

.temperatureType {
  font-weight: bold;
  color: #666;
}

.extraInfoText {
  display: block;
  color: #1535C5;
  font-size: 16px;
  font-weight: bold;
}

.wicon {
  color: rgb(225, 72, 0);
}

.details {
  height: 100vh;
  width: 100%;
  background-color: #999;
}

.forecastExtended h2 {
  color: white;
  padding-top: 21px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
